{% extends "base.html" %}
{% load football_tags %}
{% block content %}
		<!-- <h4>Previous Matches</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th><center>Match</center></th>
					<th><center>Result</center></th>
				</tr>
			</thead>
			<tbody>
				{#% for match in last_three_matches %#}
					<tr>
						<td>
							<center>{#{ match.home_team }#} vs {#{ match.away_team }#}</center>
						</td>
						<td>
							<center>{#{ match.score }#}</center>
						</td>
					</tr>
				{#% endfor %#}
			</tbody>
		</table> -->
		<h4>Upcoming Matches</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th><center>Match</center></th>
					<th><center>Schedule</center></th>
				</tr>
			</thead>
			<tbody>
				{% for match in upcoming_matches %}
					<tr>
						<td>
							<center>{{ match.home_team }} vs {{ match.away_team }}</center>
						</td>
						<td>
							<center>{{ match.schedule }}</center>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if not current_season_club_added %}
			<div class="modal" id="leagues" tabindex="-1" role="dialog" aria-labelledby="settings_title" aria-hidden="true" data-backdrop="static" data-keyboard="false" data-show="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="settings_title">I'm Supporting</h4>
						</div>
						<form class="form-horizontal" role="form" method="POST" action="/football/add/favourite/team/">{% csrf_token %}
							<div class="modal-body">
								<div class="form-group">
									<label for="join_code" class="col-sm-3 control-label">Team</label>
									<div class="col-sm-5">
										<select class="form-control" name="code" id="join_code">
											{% for league in current_championship_automatic_leagues %}
												<option value="{{ league.code }}">{{ league.name }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Save Team</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		{% endif %}
{% endblock %}

{% block heading %}
	<h4>Welcome {{ full_name }}</h4>
{% endblock %}

{% block extra_script %}
	<script type="text/javascript">
		$(document).ready( function() {
			{% if not current_season_club_added %}
				$("#leagues").modal("show");
			{% endif %}
		});
	</script>
{% endblock %}