{% load football_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Football Home | Register</title>
	</head>
	<body>
		<a style="float:right;" href="{% url 'user_logout' %}">Logout</a>
		<h4>Welcome {{ full_name }}</h4>
		<h4>Leagues</h4>
		<ul>
			{% for league in leagues %}
				<li>
					<a href="{% url 'league' id=league.id %}">{{ league.league.name }}</a>
					<span>Points : {% get_points league %}</span>
				</li>
			{% endfor %}
		</ul>
		<a href="{% url 'my_predictions' %}">Predictions</a>
	</body>
</html>