{% extends "base.html" %}
{% load football_tags %}
{% block content %}
		<!-- <h4>Previous Matches</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th><center>Match</center></th>
					<th><center>Result</center></th>
				</tr>
			</thead>
			<tbody>
				{#% for match in last_three_matches %#}
					<tr>
						<td>
							<center>{#{ match.home_team }#} vs {#{ match.away_team }#}</center>
						</td>
						<td>
							<center>{#{ match.score }#}</center>
						</td>
					</tr>
				{#% endfor %#}
			</tbody>
		</table> -->
		<h4>Upcoming Matches</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th><center>Match</center></th>
					<th><center>Schedule</center></th>
				</tr>
			</thead>
			<tbody>
				{% for match in upcoming_matches %}
					<tr>
						<td>
							<center>{{ match.home_team }} vs {{ match.away_team }}</center>
						</td>
						<td>
							<center>{{ match.schedule }}</center>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
{% endblock %}

{% block heading %}
	<h4>Welcome {{ full_name }}</h4>
{% endblock %}