{% extends "base.html" %}
{% block content %}
	<table class="table table-bordered">
		<thead>
			<tr>
				<th><center>Position</center></th>
				<th><center>Player</center></th>
				<th><center>Points</center></th>
			</tr>
		</thead>
		<tbody>
			{% for user_point in user_points %}
				<tr>
					<td>
						<center>{{ forloop.counter }}</center>
					</td>
					<td>
						<center><a href="{% url 'predictions' id=user_point.user_league.user.id %}">{{ user_point.user_league.user.first_name.capitalize }} {{ user_point.user_league.user.last_name.capitalize }}</a></center>
					</td>
					<td>
						<center>{{ user_point.points }}</center>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<h4>Next Match Predictions</h4>
	{% if next_match %}
		<label>{{ next_match.schedule }} - {{ next_match.home_team.name }} vs {{ next_match.away_team.name }}</label>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th><center>User</center></th>
					<th><center>Prediction</center></th>
					<th><center>Score</center></th>
				</tr>
			</thead>
			<tbody>
				{% if next_match_predictions %}
					{% for prediction in next_match_predictions %}
						<tr>
							<td>
								<center><a href="{% url 'predictions' id=prediction.user.id %}">{{ prediction.user.first_name.capitalize }} {{ prediction.user.last_name.capitalize }}</a></center>
							</td>
							<td>
								<center>{% if prediction.prediction %}{{ prediction.prediction.name }}{% else %}Draw{% endif %}</center>
							</td>
							<td>
								<center>{{ prediction.score }}</center>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td>
							No predictions yet for next match
						</td>
						<td></td>
						<td></td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	{% else %}
		<span>No upcoming matches</span>
	{% endif %}
{% endblock %}

{% block heading %}
	<h4>{{ league.name }}</h4>
{% endblock %}