{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<table class="table table-bordered">
		<tbody>
			{% for user_league in user_leagues %}
				<tr>
					<td>
						<a href="{% url 'league' id=user_league.league.id %}">{{ user_league.league }}</a>
						{% if user_league.league.admin == user %}<a href="#" style="float:right" onclick='group_settings("{{ user_league.league.name }}", "{{ user_league.league.code }}", {{ user_league.league.id }}); return false;'><i class="glyphicon glyphicon-cog"></i></a>{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class="col-sm-3" href="#" onclick="launch_create_league_popup(); return false;">Create your league</a><br />
	<a class="col-sm-3" href="#" onclick="launch_join_league_popup(); return false;">Join league</a>

	<div class="modal fade" id="create_league" tabindex="-1" role="dialog" aria-labelledby="league_title" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="league_title">Create Your League</h4>
				</div>
				<form class="form-horizontal" role="form" method="POST" action="/football/create/league/">{% csrf_token %}
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-3 control-label">Select Championship</label>
							<div class="col-sm-5">
								<select class="form-control" name="championship">
									{% for championship in championships %}
										<option value="{{ championship.id }}">{{ championship.name }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="league_name" class="col-sm-3 control-label">League Name</label>
							<div class="col-sm-5">
								<input type="text" name="league_name" maxlength="20" id="league_name" class="form-control" placeholder="name" />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="join_league" tabindex="-1" role="dialog" aria-labelledby="join_title" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="join_title">Join League</h4>
				</div>
				<form class="form-horizontal" role="form" method="POST" action="/football/join/league/">{% csrf_token %}
					<div class="modal-body">
						<div class="form-group">
							<label for="league_code" class="col-sm-3 control-label">League Code</label>
							<div class="col-sm-5">
								<input type="text" name="code" maxlength="20" id="league_code" class="form-control" placeholder="code" />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="league_settings" tabindex="-1" role="dialog" aria-labelledby="settings_title" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="settings_title"></h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="join_code" class="col-sm-3 control-label">League Code</label>
						<div class="col-sm-5">
							<input type="text" name="code" maxlength="20" id="join_code" class="form-control" placeholder="code" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block heading %}
	<h4>Leagues</h4>
{% endblock %}

{% block extra_script %}
	<script src="{% static "js/leagues.js" %}"></script>
{% endblock %}