{% extends "base.html" %}
{% block content %}
	<table class="table table-bordered">
		<thead>
			<tr>
				<th><center>Match</center></th>
				<th><center>Schedule</center></th>
			</tr>
		</thead>
		<tbody>
			{% for match in matches %}
				<tr>
					<td>
						<center>{{ match.home_team }} vs {{ match.away_team }}</center>
					</td>
					<td>
						<center>{{ match.schedule }}</center>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}	

{% block heading %}
	<h4>Fixture</h4>
{% endblock %}