{% extends "__base.html" %}
{% load staticfiles i18n %}

{% block title %}Forgot Password | {{ block.super }}{% endblock %}

{% block stylesheets %}
	{{ block.super }}
	<link href="{% static "css/authenticate.css" %}" rel="stylesheet">
{% endblock %}

{% block main_section %}
	<div class="login_form">
		<h1>Reset Password</h1>
		<form method="post" action="">{% csrf_token %}
			{% if message %}
				<p class="error">{{ message }}</p>
			{% endif %}
			<p><input type="text" name="email" value="" placeholder="Email"></p>
			<p class="submit"><input type="submit" name="commit" value="Submit"></p>
		</form>
	</div>
{% endblock %}