{% load staticfiles i18n %}
<div class="slider">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="{% static "images/emirates.jpg" %}" alt=""/>
			</li>
			<li>
				<img src="{% static "images/anfield.jpg" %}" alt=""/>
			</li>
			<li>
				<img src="{% static "images/old-trafford.jpg" %}" alt=""/>
			</li>
			<li>
				<img src="{% static "images/etihad.jpg" %}" alt=""/>
			</li>
			<li>
				<img src="{% static "images/stamford-bridge.jpg" %}" alt=""/>
			</li>
		</ul>
	</div>
</div>